*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    /* overflow: hidden; */
}
.left{
    padding: 5%;
    text-align: center;
}
.left img{
    width: 90%;
}
.right{
    padding: 3.4%;
}
.right img{
    width: 50%;
    margin-bottom: 6%;
}
.logo{
    text-align: center;
}
